cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
et-xmlfile==1.0.1
google-api-core==1.26.3
google-auth==1.29.0
google-cloud-documentai==0.4.0
google-cloud-vision==2.3.1
googleapis-common-protos==1.53.0
grpcio==1.37.0
idna==2.10
lxml==4.6.3
numpy==1.20.2
opencv-python==4.5.1.48
openpyxl==3.0.7
packaging==20.9
pandas==1.2.4
proto-plus==1.18.1
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
PySide2==5.15.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
rsa==4.7.2
shiboken2==5.15.2
six==1.15.0
urllib3==1.26.4
wincertstore==0.2
